<div class="more-space">
    <span class="fa fa-times close-toolbar-content" ng-click="toolbarClose();"> </span>
    <p>This calculator was created by {{calc.author}} <abbr title="{{calc.created}}"><span am-time-ago="calc.created"></span></abbr> and lastly modified <abbr title="{{calc.modified}}"><span am-time-ago="calc.modified"></span></abbr>. <span ng-if="calc.languageName">It is listed under {{calc.languageName}} language.</span></p>

    <p ng-if="calc.parentId">This calculator was originally copied from <a href="#/calculator/{{calc.parentId}}">this calculator</a>.</p>

    <h3>Other details</h3>
    <div ng-if="calc.canEdit">
        <a href="#/calculator/submissions/{{calc.id}}" class="btn btn-default">
            <i class="fa fa-archive"></i> Submissions
        </a>
        <a href="#/calculator/report/{{calc.id}}" class="btn btn-default">
            <i class="fa fa-bar-chart-o"></i> Reports
        </a>
        <a href="#/calculator/webhooks/{{calc.id}}" class="btn btn-default">
            <i class="fa fa-paper-plane-o"></i> Webhooks
        </a>
    </div>
    <div ng-if="!calc.canEdit">
        <button class="btn btn-default" disabled="disabled">
            <i class="fa fa-archive"></i> Submissions
        </button>
        <button class="btn btn-default" disabled="disabled">
            <i class="fa fa-bar-chart-o"></i> Reports
        </button>
        <button class="btn btn-default" disabled="disabled">
            <i class="fa fa-paper-plane-o"></i> Webhooks
        </button>
        (Only author of the calculator can access it)
    </div>

</div>