<div class="more-space">
    <span class="fa fa-times close-toolbar-content" ng-click="toolbarClose();"> </span>
    <uib-alert ng-if="calc.finished == 0" type="notice">
        Your calculator is hidden from the world right now. Take your time to build it. Once you finish your work, mark the calculator as finished in <a ng-click="loadToolbarTab('edit-calc')">the configuration</a>. That will publish it to the list of calculators and it will be possible to embed it.
    </uib-alert>
    <div ng-if="calc.id">
        <p>Use <a href="http://www.easyjoomla.org/list-all-products?keyword=calculoid&limitstart=0&custom_parent_id=0&option=com_virtuemart&search=true&view=category" target="_blank">Joomla plugin</a>, <a href="https://wordpress.org/plugins/calculoid-calculators-builder/" target="_blank">WordPress plugin</a> or insert following 3 rows of code into your HTML web page. It will embed this calculator, which has ID = <span class="highlight-red">{{calc.id}}</span>.</p>
        <pre>&lt;link rel="stylesheet" href="https://embed.calculoid.com/styles/main.css" /&gt;
&lt;script src="https://embed.calculoid.com/scripts/combined.min.js"&gt;&lt;/script&gt;
&lt;div ng-app="calculoid" ng-controller="CalculoidMainCtrl" ng-init="init({calcId:{{calc.id}},apiKey:'{{user.apiKey}}'{{embedShowTitleText}}{{embedShowDescriptionText}}})" ng-include="load()"&gt;&lt;/div&gt;</pre>
    </div>

    <form action="http://codepen.io/pen/define" method="POST" target="_blank" class="col-md-6">
        <input type="hidden" name="data" value='{&quot;title&quot;: &quot;{{calc.name}}&quot;, &quot;html&quot;: &quot;&lt;link rel=\&quot;stylesheet\&quot; href=\&quot;https://embed.calculoid.com/styles/main.css\&quot; /&gt;
    &lt;script src=\&quot;https://embed.calculoid.com/scripts/combined.min.js\&quot;&gt;&lt;/script&gt;
    &lt;div ng-app=\&quot;calculoid\&quot; ng-controller=\&quot;CalculoidMainCtrl\&quot; ng-init=\&quot;init({calcId:{{calc.id}},apiKey:&#39;{{user.apiKey}}&#39;{{embedShowTitleText}}{{embedShowDescriptionText}}})\&quot; ng-include=\&quot;load()\&quot;&gt;&lt;/div&gt;&quot;}'>
        <button type="submit" class="btn"><i class="fa fa-codepen"></i> Test embed code at CodePen</button>
        <a href="https://github.com/calculoidapp/calculoidapp.github.io/wiki/Embeding-of-Calculoid's-calculators" target="_blank" class="btn btn-default"><i class="fa fa-book"></i> Learn more about embed</a>
    </form>

    <span class="pull-right">
        Display calculator's:
        <label><input type="checkbox" ng-model="embedShowTitle" ng-change="showEmbedTitle(embedShowTitle)" ng-init="embedShowTitle=true"/> Title</label>
        <label><input type="checkbox" ng-model="embedShowDescription" ng-change="showEmbedDescription(embedShowDescription)" ng-init="embedShowDescription=true"/> Description</label>
    </span>

</div>