<div class="row">
    <div class="col-md-12">
        <label for="inputLabelWebhookUrl">Webhook URL</label>
        <input type="url" ng-model="calc.webhook" placeholder="http://" class="form-control" id="inputLabelWebhookUrl" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <small>
            Submitted data can be sent to specified URL address to process data submitted with Email Field or Payment Field by custom script.
            <a href="http://calculoid.com/blog/32-webhooks-push-submissions-to-other-system" target="_blank">Read anouncement</a>
        </small>
    </div>
</div>
