<uib-tabset>
    <uib-tab>
        <tab-heading>Basic settings</tab-heading>
        <div ng-include="'views/fields/edit-basic.html'"></div>
    </uib-tab>

    <uib-tab>
        <tab-heading>Text Field Config</tab-heading>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                    <label for="inputValue">Default Value</label>
                    <input type="text" ng-model="activeField.value" class="form-control" id="inputValue" placeholder="Default Value"/>
                </div>
            </div>
        </div>
    </uib-tab>

    <uib-tab>
        <tab-heading>Appearance</tab-heading>
        <div ng-include="'views/fields/edit-appearance.html'"></div>
    </uib-tab>
</uib-tabset>

