<table class="table">
    <tr>
        <td>Calculator name</td>
        <td><code>{calculatorName}</code></td>
    </tr>
    <tr>
        <td>List of fields</td>
        <td><code>{fields}</code></td>
    </tr>
    <tr>
        <td>URL of the calc</td>
        <td><code>{sourceUrl}</code></td>
    </tr>
    <tr>
        <td>Description of the calc</td>
        <td><code>{description}</code></td>
    </tr>
    <tr>
        <td>Name of your account</td>
        <td><code>{userName}</code></td>
    </tr>
    <tr>
        <td>Email from Email or Payment field</td>
        <td><code>{email}</code></td>
    </tr>
    <tr>
        <td>Price of the Payment *</td>
        <td><code>{price}</code></td>
    </tr>
    <tr>
        <td>Currency of the payment *</td>
        <td><code>{currency}</code></td>
    </tr>
    <tr>
        <td>Status of the payment *</td>
        <td><code>{status}</code></td>
    </tr>
    <tr>
        <td>Single field value</td>
        <td><code>{FX:value}</code></td>
    </tr>
    <tr>
        <td>Single field name</td>
        <td><code>{FX:name}</code></td>
    </tr>
    <tr>
        <td>Single field hint</td>
        <td><code>{FX:hint}</code></td>
    </tr>
    <tr>
        <td>Single field prefix</td>
        <td><code>{FX:prefix}</code></td>
    </tr>
    <tr>
        <td>Single field postfix</td>
        <td><code>{FX:postfix}</code></td>
    </tr>
    <tr>
        <td colspan="2"><i><small>For single field replace FX with the field ID. Example: <code>{F3456:value}</code></small><i></td>
    </tr>
    <tr>
        <td colspan="2"><i><small>* For Payment field only</small><i></td>
    </tr>
</table>
