<div class="btn-group toolbar-field">
    <div type="button" class="btn btn-default btn-sm identifier" uib-tooltip="ID of the field" uib-tooltip-placement="bottom">
        F{{field.id}}
    </div>
    <div type="button" class="btn btn-primary btn-sm edit" ng-click="editCalcField(field)" uib-tooltip="Edit the field" uib-tooltip-placement="bottom">
        <i class="fa fa-pencil"></i>
    </div>
    <div type="button" class="btn btn-warning btn-sm handle" uib-tooltip="Move the field" uib-tooltip-placement="bottom">
        <i class="fa fa-arrows"></i>
    </div>
</div>
